@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --navbar-Text-Color: rgb(187, 186, 186);
    --normal-Text-Color: rgb(169, 169, 169);
    --normal-Text-Hover-Color: #ff655a;

    --normal-Headers-size: 35px;
    --normal-Text-size: 25px;

    --Phone-Headers-size: 35px;
    --Phone-Text-size: 25px;

    --Tablet-Headers-size: 50px;
    --Tablet-Text-size: 35px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('layered-waves-haikei.svg');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 100;
    }
}

header {
    width: 100%;
    min-height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #12171c;

    margin-bottom: 50px;
}

header>#headerH1 {
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;
}

header>#headerH1>h1 {
    position: relative;

    color: whitesmoke;

    width: min-content;

    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 60px;
    text-align: center;

    cursor: default;

    transition: color .2s;
}

header>#headerH1>h1:hover {
    color: #ff4d41;
}

header>#headerH1>h1:after {
    content: "";

    position: absolute;
    height: 6%;
    width: 0%;

    bottom: 0;
    left: 0;

    background-color: whitesmoke;

    transition: width .2s;
}

header>#headerH1>h1:hover::after {
    width: 100%;
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 50%;
    font-size: 25px;
}

#headerDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 25%;
    height: 100%;
}

header>nav>a {
    text-decoration: none;
    color: var(--navbar-Text-Color);

    font-family: "Exo 2", sans-serif;
    font-weight: 600;
}

header>nav>a:hover {
    color: var(--normal-Text-Hover-Color);
}

#headerDiv>a>svg {
    scale: 2.5;
    fill: var(--navbar-Text-Color);
}

#headerDiv>a>svg:hover {
    fill: var(--normal-Text-Hover-Color);
}

/* body */
#mainDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    min-height: 10%;
}

#mainDiv>div {
    margin: 50px 0;
}

#aboutUsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
}

#aboutUsDiv>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 50%;
}

#aboutUsDiv>div>h3 {
    padding: 10px 0px;

    color: var(--normal-Text-Color);
    font-size: var(--normal-Headers-size);

    text-align: center;

    transition: color .2s;
}

#aboutUsDiv>div>h3:hover {
    color: var(--normal-Text-Hover-Color);
}

#aboutUsDiv>div>p {
    padding: 20px 30px;
    color: var(--normal-Text-Color);
    font-size: var(--normal-Text-size);

    text-align: center;
}

#ourWorkDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

#ourWorkDiv>p {
    color: var(--normal-Text-Color);
    font-size: var(--normal-Text-size);

    text-align: center;

    padding: 0 50px 50px 50px;
}

#ourWorkDiv>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 75%;
}

#ourWorkDiv>div>img {
    border-radius: 100%;
    transition: border-radius .5s cubic-bezier(0.12,-0.01, 0.31, 0.96), border .5s cubic-bezier(0.12,-0.01, 0.31, 0.96);
}

#ourWorkDiv>div>img:hover {
    border-radius: 6%;
}

#contactUsDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    width: 100%;
}

#contactUsDiv>p {
    color: var(--normal-Text-Color);
    font-size: var(--normal-Text-size);

    padding-bottom: 50px;

    text-align: center;
}

#contactUsDiv>div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;

    width: 25%;
}

#contactUsDiv>div>a {
    scale: 2;
    fill: var(--navbar-Text-Color);
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 5%;

    background-color: #0000007c;

    position: relative;
    bottom: 0;
}

footer>p {
    color: #6a6a6a;
}

/* Phones */
@media screen and (max-width:480px) {

    header {
        margin-bottom: 0;
    }

    header>#headerH1>h1 {
        color: #ff6756;
        font-size: 80px;
    }

    header>#headerH1 {
        width: 100%;
    }

    header>nav,
    header>#headerDiv {
        width: 0%;
        display: none;
    }

    #mainDiv>div,
    #aboutUsDiv>div,
    #ourWorkDiv {
        width: 100%;
    }

    #aboutUsDiv>div>h3,
    #aboutUsDiv>div>p {
        padding: 8px 10px;
    }

    #ourWorkDiv>p {
        font-size: var(--Phone-Text-size);
        padding: 0 10px 50px 10px;
    }

    #aboutUsDiv>div>h3 {
        font-size: var(--Phone-Headers-size);
    }

    #aboutUsDiv>div>p {
        font-size: var(--Phone-Text-size);
    }

    #contactUsDiv>p {
        font-size: var(--Phone-Text-size);
        padding: 0px 5px;
    }

    #contactUsDiv>div>a {
        scale: 3;
    }

    #ourWorkDiv>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        gap: 20px;

        width: 100%;
    }

    #ourWorkDiv>div>img {
        width: 80%;
    }

    #contactUsDiv>div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;

        width: 75%;
        padding: 25px 0;
    }

    footer>p {
        text-align: center;
        font-size: 15px;
    }
}

/* Tablets and small laptops */
@media screen and (min-width:480px) and (max-width:1024px) {

    header {
        margin-bottom: 0;
        min-height: 15%;
    }

    header>#headerH1>h1 {
        color: #ff6756;
        font-size: 120px;
    }

    header>#headerH1 {
        width: 100%;
    }

    header>nav,
    header>#headerDiv {
        width: 0%;
        display: none;
    }

    #mainDiv>div,
    #aboutUsDiv>div {
        width: 100%;
    }

    #aboutUsDiv>div>h3,
    #aboutUsDiv>div>p {
        padding: 8px 20px;
    }

    #ourWorkDiv>p {
        font-size: var(--Tablet-Text-size);
        padding: 0 10px 50px 10px;
    }

    #aboutUsDiv>div>h3 {
        font-size: var(--Tablet-Headers-size);
    }

    #aboutUsDiv>div>p {
        font-size: var(--Tablet-Text-size);
    }

    #contactUsDiv>p {
        font-size: var(--Tablet-Text-size);
    }

    #contactUsDiv>div>a {
        scale: 3;
    }

    #ourWorkDiv>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        gap: 10px;

        max-width: 30%;
    }

    #ourWorkDiv>div>img {
        width: 100%;
    }

    #contactUsDiv>div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;

        width: 75%;
    }

    footer>p {
        font-size: 25px;
    }
}

/* Large laptop screens */
@media screen and (max-width:1440px) and (min-width:1024px) {

    header {
        margin-bottom: 0;
        min-height: 15%;
    }

    header>#headerH1>h1 {
        font-size: 80px;
    }

    header>nav>a {
        font-size: 40px;
    }

    #headerDiv>a {
        scale: 2;
    }

    #ourWorkDiv>p {
        font-size: var(--Tablet-Text-size);
    }

    #aboutUsDiv>div>h3 {
        font-size: var(--Tablet-Headers-size);
    }

    #aboutUsDiv>div>p {
        font-size: var(--Tablet-Text-size);
    }

    #contactUsDiv>p {
        font-size: var(--Tablet-Text-size);
    }

    #contactUsDiv>div>a {
        scale: 4;
    }

    #ourWorkDiv>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        gap: 20px;

        width: 75%;
    }

    #ourWorkDiv>div>img {
        width: 100%;
    }

    #contactUsDiv>div {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;

        width: 25%;
    }

    footer>p {
        font-size: 25px;
    }
}